body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 60px;
    height: 60px;
}

.test-desc{
    font-size: 14px;
    font-weight: normal;
    color: #999;
}

.span_d{
    display: block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.proflie .section{
     margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.comment{
    margin: 10px;
}

.sub_comments{
    border-radius: 5px;
    border: 1px solid #eee;
    padding-top: 20px;
}

.btn-comment{
    float: right;
    margin-bottom: 15px;
    height: 33px;
    width: 100px;

}
.warningMess{
    margin-left: 10px;
}

.comment_list_div{
/*    position: relative;
    top: -20px;
    right: -15px;
    font-size: 18px;*/
    font-size: 21px;
/*    margin-top: -34px;

    margin-left: 40px;*/
}
.menu{
    color: #999;
    margin-top: -15px;

}
.menu .icon{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}