<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区-案例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<!--引入公共部分-->
<div th:insert="~{commons/navigation :: nav}"></div>
    <div class="jumbotron" style="margin: 50px">
        <h1>出错了！！</h1>
        <p th:text="${#request.session.getAttribute('errorMessage')==null?'服务器快爆炸了，要不然等等再来~':#request.session.getAttribute('errorMessage')}"></p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
    </div>

</body>
</html>