<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区-案例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<!--引入公共部分-->
<div th:insert="~{commons/navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span
                    style="font-size: 34px">发现</span></h2>
            <hr size="4px" color="black">

            <!--引入列表部分-->
            <div th:insert="~{commons/list :: list}"></div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

</body>
<script type="application/javascript">
    $(function () {
        var closeable = window.localStorage.getItem("closeable");

        if (closeable=="true"){
            window.localStorage.removeItem("closeable")
            window.close();
        };
    });


</script>
</html>