<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-社区-案例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-1.12.4.js"></script>


</head>
<body>
<!--引入公共部分-->
<div th:insert="~{commons/navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span style="font-size: 36px" id="topTitle">发起</span></h2>
            <hr size="4px" color="black">

                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea name="description" placeholder="问题补充"  class="form-control" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签。以，(逗号)分隔">
                </div>
            <div class="hidden" role="alert" id="error" >请先登入</div>
            <div class="hidden" role="alert" id="success">发布成功</div>
            <div class="hidden" role="alert" id="w_tag">请输入标签</div>
            <div class="hidden" role="alert" id="w_title">请输入标题</div>
            <div class="hidden" role="alert" id="w_description">请输入问题补充</div>
                <button type="submit" class="btn btn-success btn-publish" id="btn_publish" ></button>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            •问题标题：请用简介的语言描述您发布的问题，不超过50字</br>
            •问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料</br>
            •选择标签：选择一个或多个合适的标签，用逗号隔开，每个标签不超过10个字</br>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    var quesId;

    $(function () {
        var allUrl ={ "allUrl" : window.location.href };
        $.ajax({
            type:"post",
            url:"/getInfo",
            async:true,
            contentType:"application/json",
            data:JSON.stringify(allUrl),
            success:function(data){
                console.log(data)

                if (data.status=="0"){
                    console.log("发布")
                    $("#btn_publish").html("发布")
                }
                if (data.status=="1"){
                    console.log("修改")
                    $("#btn_publish").html("修改")
                    $("#topTitle").html("修改")
                    $("#success").html("修改成功")
                    $("#title").attr("placeholder",data.title)
                    $("#description").attr("placeholder",data.description)
                    $("#tag").attr("placeholder",data.tag)
                    quesId = data.quesId;
                }
            },
            error:function () {
                alert("系统传输错误！");
            }
        });
    })


    $("#btn_publish").click(function () {
        var title =$("#title").val();
        var tag =$("#tag").val();
        var description =$("#description").val();
        var question = {"title":title,"tag":tag,"description":description,"quesId":quesId};


        if (title==""){
            $("#w_title").attr("class","alert alert-warning");
            return;
        }else if(title.length>=50){
            $("#w_title").attr("class","alert alert-warning");
            $("#w_title").html("标题过长，请控制在50字内")
            return;
        } else {
            $("#w_title").attr("class","hidden");
        }
        if (description==""){
            $("#w_description").attr("class","alert alert-warning");
            return;
        }else {
            $("#w_description").attr("class","hidden");
        }
        if (tag==""){
            $("#w_tag").attr("class","alert alert-warning");
            return;
        }else if(tag.length>=10){
            $("#w_tag").attr("class","alert alert-warning");
            $("#w_tag").html("标签过长，请控制在10字内")
            return;
        } else {
            $("#w_tag").attr("class","hidden");
        }


        function sleep(numberMillis) {
            var now = new Date();
            var exitTime = now.getTime() + numberMillis;
            while (true) {
                now = new Date();
                if (now.getTime() > exitTime)
                    return;
            }
        }

        $.ajax({
            type:"post",
            url:"/publish",
            async:true,
            contentType:"application/json",
            data:JSON.stringify(question),
            success:function(data){

                console.log(data)
                console.log(question);
                if (data.info=="0"){
                    $("#error").attr("class","alert alert-danger")
                }
                if (data.info=="1"){
                    $("#success").attr("class","alert alert-success")
                }

                console.log("123").delay(1000*4)
                $(location).attr('href', 'http://localhost:8080/')
            },
            error:function () {
                alert("系统传输错误！");
            }
        });
    })



</script>
</html>